.form-legend {
    font-size: 1em;
    width: auto;
}

.form-group-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.form-group-inline fieldset {
    width: 100%;
}

.form-group-inline label {
    width: 10em;
    margin: 0.5em 1em 0.5em 0;
}

.form-group-inline input {
    vertical-align: middle;
    margin: 0.5em 1em 0.5em 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-group-inline input {
        margin: 1em 0;
    }

    .form-group-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

.fieldset {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.75em 0.25em 0.25em 0.25em;
}

summary {
    width: fit-content;
    position: relative;
    top: -1.25em;
    padding: 0 2px;
    background-color: white;
}

.form-group-inline>* {
    flex: 1
}

input:invalid {
    background-color: lightpink;
}

input:disabled {
    background-color: lightgray;
}

.job-list {
    width: 100%;
    vertical-align: middle;
    padding: 1rem;
}

.job-list thead th {
    padding: 0.75rem;
    vertical-align: bottom;
    border-bottom: 1px solid lightslategray;
}

.job-list tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.job-list td {
    padding: 0.75rem;
    border-collapse: collapse;
}

.text-monospace {
    font-family: monospace;
}

.job-list td * {
    padding: 0;
    margin: 0;
}

.action-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.action,
.action:hover {
    width: 4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.action .action-label {
    text-decoration: none;
    font-size: 0.6em;
}
